<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/style.css"/> 
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Rekha. It uses data from mapbox.com and darksky.net</p>
        <img src="/img/robot.png" class="potrait" />
        Forecast : <img src='https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png' />Partly cloudy. It is currently 43 degrees out. There is 0% chance of rain
        </div>
        {{>footer}}
    </body>
</html>